#SL_WPT_TB{position:fixed; z-index:9999999999999999;}
#SL_wpt_canvas {
font-family:'Arial', 'Helvetica', sans-serif;
font-style: normal;
font-variant: normal;
line-height: normal;
font-size: 14px !important;
font-weight: 500; 
z-index: 99999999999 !important;
max-width: 100%;
max-height: 25%;
background: white;
color: #212121;
border-bottom: 1px solid #bdbdbd !important;
overflow: auto;
padding: 2px;
visibility: visible; 
opacity: 1 !important;
white-space: pre-wrap;
top: 0px !important;
right: 0px !important;
width: 100%;
position:fixed !important;
direction:ltr;
text-align: left;
unicode-bidi: bidi-override;
text-transform: uppercase;
overflow: hidden;
}

#SL_wpt_canvas button:not(#placeholder) {
  font-size: 14px !important;
}

#SL_wpt_canvas img:empty, #SL_wpt_canvas div:empty, #SL_wpt_options_canvas img:empty, #SL_wpt_options_canvas div:empty, #SL_wpt_search_container img:empty, #SL_wpt_search_container div:empty, #SL_wpt_search_container2 img:empty, #SL_wpt_search_container2 div:empty {
  display: block !important;
}


#SL_wpt_cp button, #SL_wpt_the_langs button{
font-family:'Arial', 'Helvetica', sans-serif;
font-style: normal;
font-variant: normal;
line-height: normal;
font-size: 14px !important;
}
#SL_wpt_search_container input, #SL_wpt_search_container2 input{
 padding: 0px !important;
 height: 20px !important
}

#SL_wpt_LookUp{
   background: transparent url(../../content/img/util/search.png) no-repeat 100% 0 ;
   width:24px;
   height:24px;
   position:absolute;
   margin-top:3px;
}

#SL_wpt_logo, #SL_wpt_hidden_logo{
   background: transparent url(../../content/img/util/show.png) no-repeat 100% 0 ;
   width:31px;
   height:31px;
   margin-top:7px;
   margin-left:5px;
   cursor:pointer;
   z-index: 99999999999 !important;
}
#SL_wpt_cp{
   position:absolute;
   margin-left:52px;
   top:0px;
   width:70%;
   height:20px;
   vertical-align: top;
   flex-flow: row;
}

#SL_wpt_from,#SL_wpt_from:hover,.SL_wpt_to,.SL_wpt_to:hover{
   font-family:'Arial', 'Helvetica', sans-serif !important;
   font-style: normal !important;
   font-variant: normal !important;
   line-height: normal;
   font-size: 14px ;
   font-weight: 500 !important; 
   height:42px !important;
   background:white;
   text-transform: uppercase;
   border-top:0px !important;
   border-left:0px !important;
   border-right:0px !important;
   border-bottom:3px solid transparent;
   color: #5f6368 !important;
   white-space: nowrap !important;
   cursor:pointer;
   display: inline;
}
.SL_wpt_to:hover{
   background:#f6f9fe;
}


#SL_wpt_from:hover{
   background:#f7f8f8;
}

.SL_wpt_to_more,.SL_wpt_to_more:hover{
   font-family:'Arial', 'Helvetica', sans-serif !important;
   font-style: normal !important;
   font-variant: normal !important;
   line-height: normal;
   font-size: 11px;
   font-weight: 500 !important; 
   background:white;
   text-transform: uppercase;
   color: #212121 !important;
   cursor:pointer;
   border:0px;
   border-bottom:1px solid transparent;
   padding:5px;
}


.SL_wpt_to_more:hover {
   border-bottom:1px dotted #1284b8;
   background:#f5f5f5;
}


.SL_wpt_to,.SL_wpt_to:hover{
   margin-left: 15px;
}

#SL_wpt_options,#SL_wpt_options:hover{
   background: white url(../../content/img/util/dots-tb.png) no-repeat 100% 0 ;
   width:18px;
   height:18px;
   margin-top: 11px;
   margin-right: 70px;
   top:0px;
   right:0px;
   cursor:pointer;
   position:absolute;
   opacity: 0.5;
}
.SL_wpt_options:hover{
   background:#f5f5f5;
   width:auto;
   cursor:pointer;
}

#SL_wpt_switch,#SL_wpt_switch:hover{
   background: white url(../../content/img/util/switch-tb.png) no-repeat 100% 0 ;
   width:18px;
   height:18px;
   margin-left:15px;
   margin-top:11px;
   cursor:pointer;
   opacity: 0.5;
}
#SL_wpt_more,#SL_wpt_more:hover{
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  margin-left:15px;
}


#SL_wpt_hide,#SL_wpt_hide:hover,#SL_wpt_more,#SL_wpt_more:hover,#SL_wpt_more_opened{
   background: white url(../../content/img/util/hide.png) no-repeat 100% 0 ;
   width:18px;
   height:18px;
   margin-top:11px;
   margin-left:15px;
   cursor:pointer;
   opacity: 0.5;
}



#SL_wpt_FROM_LANG, #SL_wpt_FROM_LANG:hover{
   background: white url(../../content/img/util/hide.png) no-repeat 100% 0 ;
   position:absolute;
   width:18px;
   height:18px;
   margin-top:-1px;
   margin-left:2px;
   cursor:pointer;
   opacity: 0.5;
   -webkit-transform: scaleY(-1);
   transform: scaleY(-1);
}



#SL_wpt_close,#SL_wpt_close:hover,#SL_wpt_close_search,#SL_wpt_close_search:hover,#SL_wpt_close_search2,#SL_wpt_close_search2:hover{
   background: white url(../../content/img/util/close-tb.png) no-repeat 100% 0 ;
   width:18px;
   height:18px;
   margin-top:12px;
   cursor:pointer;
   opacity: 0.5;
}

#SL_wpt_switch:hover,#SL_wpt_close:hover,#SL_wpt_hide:hover,#SL_wpt_options:hover,#SL_wpt_more:hover,#SL_wpt_close_search:hover,#SL_wpt_close_search2:hover,#SL_wpt_FROM_LANG:hover{
   opacity: 1;
}
#SL_wpt_close_search,#SL_wpt_close_search:hover,#SL_wpt_close_search2,#SL_wpt_close_search2:hover{
   position:absolute;
   margin-left:275px;
   margin-top:3px;
}
#SL_wpt_fav_cont{
   position:absolute;
   white-space: nowrap;
}
#SL_wpt_bigmenu{
   position:fixed;
   width:auto;
   max-width:70%;
   min-height:40px !important;
   background: #fff !important;
   border-bottom:1px solid #bdbdbd !important;
   border-left:1px solid #bdbdbd !important;
   border-right:1px solid #bdbdbd !important;
   display:block;
   z-index:9999999999 !important;
   padding:10px;
   top:42px;
   left:35px;
}

#SL_wpt_lang_menu_canvas{
   position:fixed;
   width:auto;
   height:auto;
   max-width:40%;
   min-width:350px !important;
   background: #fff !important;
   border:1px solid #bdbdbd !important;
   display:block;
   z-index:9999999999 !important;
   padding:10px;
   top:182px;
   right:5px;

}


.LNG_TAKEN{background:red;}
#SL_wpt_search{    
   width:300px;
   padding:0px;
   margin:0px;
}

#SL_wpt_search_container, #SL_wpt_search_container2{
   width:300px;
   height:25px;
   border:0px;
   border:1px solid #ccc !important;
   margin-left:5px;
   text-align: left !important;
}

#SL_wpt_search_box, #SL_wpt_search_box2{ 
   font-family:'Arial', 'Helvetica', sans-serif;
   font-style: normal;
   font-variant: normal;
   line-height: normal;
   font-size: 12px !important;
   border:0px;
   margin-left:30px;
   margin-top:2px;
   height:20px;
   color: #000 !important;
   background:#fff;
   padding-left:5px;
   width:230px;
   outline: none ! important;
   border-left: 1px solid #ccc;
   border-top: 0px;
   border-bottom: 0px;
   border-right: 1px solid #ccc;
   border-radius: 5px 5px 5px 5px;
   padding-left: 5px;
   position:absolute;
}


#SL_wpt_search_ttl,#SL_wpt_the_langs{
   font-family:'Arial', 'Helvetica', sans-serif;
   font-style: normal;
   font-variant: normal;
   line-height: normal;
   font-size: 14px;
   font-weight: 500; 
   margin-bottom:8px;
//   text-transform: uppercase;
   color: #bdbdbd !important;
   flex-flow: row wrap;
   text-align: left !important;
}
#SL_wpt_the_langs{
   margin-top:10px;
}

#SL_wpt_options_canvas{
   background:white !important;
   z-index:999999999999 !important;
   top:42px;
   right:0px;
   width:350px;
   position:fixed;
   border-left:1px solid #bdbdbd !important;
   border-rightt:1px solid #bdbdbd !important;
   border-bottom:1px solid #bdbdbd !important;
   padding-bottom:10px;
   text-align: left !important;
}
#SL_wpt_options_canvas span{
   padding: 0px !important;
}


@media only screen and (max-width: 460px){
  #SL_wpt_cp{
   margin-left:0px;
  }
  .SL_wpt_to_more {
   margin:1px;
   font-size:9px !important;
  }
  #SL_wpt_bigmenu{
   height: auto;
   max-height:400px;
  }
  #SL_wpt_the_langs,#SL_wpt_lang_menu_canvas{
   height:320px !important;
   overflow-x: hidden;
   overflow-y: auto;
  }
  #SL_wpt_switch, #SL_wpt_switch:hover {
   margin-left: 5px;
  }
  .SL_wpt_to, .SL_wpt_to:hover{
   margin-left: 4px;
  }
  #SL_wpt_from,#SL_wpt_from:hover, .SL_wpt_to, .SL_wpt_to:hover{
   font-size:12px;
  }
  #SL_wpt_more, #SL_wpt_more:hover, #SL_wpt_more_opened,#SL_wpt_more_opened:hover {
   margin-left: 0px;
  }
}

@media only screen and (min-width:461px) and (max-width: 660px){
  #SL_wpt_cp{
   margin-left:0px;
  }
  .SL_wpt_to_more {
   margin:2px;
   font-size:10px !important;
  }
  #SL_wpt_bigmenu{
   height: auto;
   max-height:500px;
  }
  #SL_wpt_the_langs,#SL_wpt_lang_menu_canvas{
   height: auto;
   max-height:420px;
   overflow-x: hidden;
   overflow-y: auto;
  }
  #SL_wpt_switch, #SL_wpt_switch:hover {
   margin-left: 10px;
  }
  .SL_wpt_to, .SL_wpt_to:hover{
   margin-left: 10px;
  }
  #SL_wpt_from,#SL_wpt_from:hover, .SL_wpt_to, .SL_wpt_to:hover{
   font-size:13px;
  }
  #SL_wpt_more, #SL_wpt_more:hover, #SL_wpt_more_opened,#SL_wpt_more_opened:hover {
   margin-left: 7px;
  }
}

.SL_wpt_options_TTL,.SL_wpt_options_TTL2,.SL_wpt_options,.SL_wpt_options_LNK,.SL_wpt_options_LNK:hover{
  font-family:'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-variant: normal;
  line-height: normal;
  font-size: 12px;
  font-weight: 500; 
  color: #5f6368;
  margin-left:10px;
  margin-top:6px;  
}
.SL_wpt_options_TTL{
  text-transform: uppercase;
}

.SL_wpt_options_TTL2{
  font-weight: 500; 
  color: #1284b8;
  cursor:pointer;
}
.SL_wpt_options,.SL_wpt_options:hover{
  font-weight: 300; 
  margin-left:30px;
  padding-left:22px;
  padding-top:3px;
  padding-bottom:3px;
  width:80%;
  margin-top:0px;
  margin-bottom:0px;
}
.SL_wpt_options_LNK,.SL_wpt_options_LNK:hover{
  cursor:pointer;
  color: #1186BB;
}
.SL_wpt_options_LNK:hover{
  color: #be3b34;
}
#SL_wpt_cp td, #SL_wpt_cp th {
  margin:2px !important;
}
.SL_wpt_options_line{
  margin-left:2px;
  margin-right:5px;
  margin-top:5px;
  margin-bottom:8px;
}

.SL_BOX,.SL_BOX:hover,.SL_BOX_ACTIVE{
    position:absolute;
    margin-left:-20px;
    margin-top:1px;
    width: 12px;
    height: 12px;
    z-index: 0;
    border: 1px solid #5a5a5a;
    border-radius: 1px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
    cursor:pointer;
    background:#fff;
}

.SL_BOX_ACTIVE{
    background:transparent;
    width: 4px;
    height: 12px;
    margin-top:-1px;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 2px solid #1284B8;
    border-bottom: 2px solid #1284B8;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.SL_BOX:hover{
    background:#eeeeee;
}

#SL_wpt_trbutton, #SL_wpt_trbutton:hover{
   cursor:pointer;
   position:absolute;
   background: #1186BB;
   right:100px;
   color:white;
   top:6px;
   border:1px solid #1186BB;
   padding-left:15px;
   padding-right:15px;
   height:30px;
   border-radius: 2px 2px 2px 2px;
}
#SL_wpt_trbutton:hover{
   background:#EBEBEB;color:#000;border: 1px #C1C1C1 solid;
}
.notranslate{
   direction:ltr !important;
}

#SL_wpt_canvas td, #SL_wpt_options_canvas td {
   margin:unset !important;
   padding:unset !important;
   vertical-align: top;
}

#SL_wpt_options_canvas div{
  flex-flow: row wrap !important;
}

#SL_wpt_container{
  top:43px;
  width:100%;
  text-align:center;
  position:fixed;
  display:none;
  z-index: 999999999;
}
#SL_wpt_error{
  font-family:'Arial', 'Helvetica', sans-serif !important;
  background:#1186BB !important;
  text-shadow:none !important;
  color:white !important;
  display: inline-block !important;
  border-radius: 2px 2px 2px 2px !important;
  width:350px !important;
  min-height:35px !important;
  box-shadow: 1px 1px 13px #000 !important;
  font-size: 14px !important; 
  padding:15px !important;
  align-content: center !important;
}

